<a href="https://colab.research.google.com/github/dnicoleperez/IOD24/blob/main/IOD_Lab_10_3_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 10.3 PySpark for Big Data

## Introduction

**Note**: this notebook is to be run in Google Colab on your Google Drive. It will not work locally on your computer.

The purpose of this lab is to gain further exposure to cloud computing, often necessary when datasets become too large to manage on a local machine. You will learn how to work with a large dataset through the PySpark Python library with Google Colaboratory (Colab).

In Google Colab, a virtual machine is automatically set up to execute your code. The maximum lifetime of such a machine is 12 hours. Note that notebooks will be disconnected from virtual machines if left idle. If this happens simple click on the Connect button to reconnect. If the kernel needs to be restarted (via the Runtime menu), variables may be lost but packages would not need to be reinstalled unless a new machine is assigned.

https://research.google.com/colaboratory/faq.html

Sign into colab.research.google.com and choose the Upload tab and upload this notebook.  This will automatically create a folder called "Colab Notebooks" in your Google Drive (if it does not already exist).

Apache Spark is an open-source cluster-computing framework, able to work with large datasets quickly by performing in-memory caching and computation. Pyspark is a Python API for Spark commonly used to manipulate big data. For reference one useful cheat sheet is available at https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PySpark_SQL_Cheat_Sheet_Python.pdf


Fortunately Pyspark is straightforward to setup in Google Colab:

In [4]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

To work with Spark DataFrames we firstly need to create a Spark DataFrame:

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, trim, avg, round, when
from pyspark import SparkFiles

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
spark = SparkSession.builder.appName("populationdata").getOrCreate()

In [ ]:
# Step 1: Install PySpark if you haven't done so
!pip install pyspark

# Step 2: Import SparkSession
from pyspark.sql import SparkSession

# Step 3: Create a Spark session
spark = SparkSession.builder.appName("populationdata").getOrCreate()

# Optional: Check Spark version
print("Spark Version:", spark.version)

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Spark Version: 3.5.3

In [7]:
spark = SparkSession.builder.appName("populationdata").getOrCreate()

In [8]:
spark

## Loading the dataset and EDA

The dataset to be analysed in this lab shows population estimates by age and gender:

   - PopMale: Male population for the individual age (thousands)
   - PopFemale: Female population for the individual age (thousands)
   - PopTotal: Total population for the individual age (thousands)

Further details can be found at https://population.un.org/wpp/.

In [9]:
from google.colab import drive

In [10]:
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
# run this cell after uploading the file into your Colab Notebooks folder
df = spark.read.csv(r"/content/drive/MyDrive/Colab Notebooks/WPP2019_PopulationBySingleAgeSex_1950-2019.csv", header=True)

In [12]:
df.head()

Row(LocID='4', Location='Afghanistan', VarID='2', Variant='Medium', Time='1950', MidPeriod='1950.5', AgeGrp='0', AgeGrpStart='0', AgeGrpSpan='1', PopMale='139.669', PopFemale='154.913', PopTotal='294.582')

Note that unlike Pandas this does not display a preview of the dataset, only the schema. This is because Spark performs lazy evaluation, only displaying rows when needed.

In [13]:
df.columns

['LocID',
 'Location',
 'VarID',
 'Variant',
 'Time',
 'MidPeriod',
 'AgeGrp',
 'AgeGrpStart',
 'AgeGrpSpan',
 'PopMale',
 'PopFemale',
 'PopTotal']

**Exercise**: How many rows does df contain?

In [14]:
# ANSWER
df.distinct().count()

1604549

In [15]:
df.rdd.getNumPartitions()

2

This corresponds to the number of cores in a free Google Colab instance.

In [16]:
df.printSchema()

root
 |-- LocID: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- VarID: string (nullable = true)
 |-- Variant: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- MidPeriod: string (nullable = true)
 |-- AgeGrp: string (nullable = true)
 |-- AgeGrpStart: string (nullable = true)
 |-- AgeGrpSpan: string (nullable = true)
 |-- PopMale: string (nullable = true)
 |-- PopFemale: string (nullable = true)
 |-- PopTotal: string (nullable = true)

We use df.show() similarly to df.head() in Pandas.

In [17]:
df.show()

+-----+-----------+-----+-------+----+---------+------+-----------+----------+-------+---------+--------+
|LocID|   Location|VarID|Variant|Time|MidPeriod|AgeGrp|AgeGrpStart|AgeGrpSpan|PopMale|PopFemale|PopTotal|
+-----+-----------+-----+-------+----+---------+------+-----------+----------+-------+---------+--------+
|    4|Afghanistan|    2| Medium|1950|   1950.5|     0|          0|         1|139.669|  154.913| 294.582|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     1|          1|         1|131.916|  141.851| 273.767|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     2|          2|         1|125.127|  130.632| 255.759|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     3|          3|         1| 119.22|  121.097| 240.317|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     4|          4|         1|114.112|  113.085| 227.197|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     5|          5|         1|109.723|  106.436| 216.159|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     6|          6|         1|105.969|   100.99| 206.959|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     7|          7|         1|102.769|   96.585| 199.354|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     8|          8|         1|100.041|   93.063| 193.104|
|    4|Afghanistan|    2| Medium|1950|   1950.5|     9|          9|         1| 97.704|   90.261| 187.965|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    10|         10|         1| 95.755|   88.171| 183.926|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    11|         11|         1| 94.192|   86.779| 180.971|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    12|         12|         1| 92.534|   85.181| 177.715|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    13|         13|         1| 90.537|   82.918| 173.455|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    14|         14|         1|  88.36|   80.277| 168.637|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    15|         15|         1| 86.374|   78.007| 164.381|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    16|         16|         1| 84.467|    75.96| 160.427|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    17|         17|         1| 82.703|   73.906| 156.609|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    18|         18|         1| 81.139|   71.804| 152.943|
|    4|Afghanistan|    2| Medium|1950|   1950.5|    19|         19|         1| 79.686|   69.686| 149.372|
+-----+-----------+-----+-------+----+---------+------+-----------+----------+-------+---------+--------+
only showing top 20 rows

In [18]:
df.describe()

DataFrame[summary: string, LocID: string, Location: string, VarID: string, Variant: string, Time: string, MidPeriod: string, AgeGrp: string, AgeGrpStart: string, AgeGrpSpan: string, PopMale: string, PopFemale: string, PopTotal: string]

Once again evaluation of describe is lazy, we use show() to display results:

In [19]:
df.describe().show()

+-------+------------------+--------------------+-------+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+
|summary|             LocID|            Location|  VarID|Variant|              Time|         MidPeriod|            AgeGrp|       AgeGrpStart|         AgeGrpSpan|           PopMale|         PopFemale|          PopTotal|
+-------+------------------+--------------------+-------+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+
|  count|           1604549|             1604549|1604549|1604549|           1604549|           1604549|           1604549|           1604549|            1604549|           1604549|           1604549|           1604548|
|   mean|1037.6430660578144|                NULL|    2.0|   NULL|1984.4929279193095|1984.9929279193095| 49.99925399598267| 49.99925399598267| 0.9801987972944423|1961.8821199870874|1927.3202297549913|3889.2018963259293|
| stddev| 821.4971234069408|                NULL|    0.0|   NULL|20.201520174133595|20.201520174133595|29.154661933962913|29.154661933962913|0.19801601505816396| 5310.602109020599|    5039.041799225|10346.894917940157|
|    min|               100|         Afghanistan|      2| Medium|              1950|            1950.5|                 0|                 0|                 -1|                 0|                 0|                 0|
|    max|               986|Latin American an...|      2| Medium|              2019|            2019.5|                99|                99|                  1|          9999.967|          9999.992|         99991.504|
+-------+------------------+--------------------+-------+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+

Let us remove rows we do not need.

In [20]:
df.select('VarID', 'Variant').distinct().show()

+-----+-------+
|VarID|Variant|
+-----+-------+
|    2| Medium|
+-----+-------+

As we will not work with other variant, we can safely drop these columns.

In [21]:
df = df.drop('VarID', 'Variant')

In [22]:
df.show()

+-----+-----------+----+---------+------+-----------+----------+-------+---------+--------+
|LocID|   Location|Time|MidPeriod|AgeGrp|AgeGrpStart|AgeGrpSpan|PopMale|PopFemale|PopTotal|
+-----+-----------+----+---------+------+-----------+----------+-------+---------+--------+
|    4|Afghanistan|1950|   1950.5|     0|          0|         1|139.669|  154.913| 294.582|
|    4|Afghanistan|1950|   1950.5|     1|          1|         1|131.916|  141.851| 273.767|
|    4|Afghanistan|1950|   1950.5|     2|          2|         1|125.127|  130.632| 255.759|
|    4|Afghanistan|1950|   1950.5|     3|          3|         1| 119.22|  121.097| 240.317|
|    4|Afghanistan|1950|   1950.5|     4|          4|         1|114.112|  113.085| 227.197|
|    4|Afghanistan|1950|   1950.5|     5|          5|         1|109.723|  106.436| 216.159|
|    4|Afghanistan|1950|   1950.5|     6|          6|         1|105.969|   100.99| 206.959|
|    4|Afghanistan|1950|   1950.5|     7|          7|         1|102.769|   96.585| 199.354|
|    4|Afghanistan|1950|   1950.5|     8|          8|         1|100.041|   93.063| 193.104|
|    4|Afghanistan|1950|   1950.5|     9|          9|         1| 97.704|   90.261| 187.965|
|    4|Afghanistan|1950|   1950.5|    10|         10|         1| 95.755|   88.171| 183.926|
|    4|Afghanistan|1950|   1950.5|    11|         11|         1| 94.192|   86.779| 180.971|
|    4|Afghanistan|1950|   1950.5|    12|         12|         1| 92.534|   85.181| 177.715|
|    4|Afghanistan|1950|   1950.5|    13|         13|         1| 90.537|   82.918| 173.455|
|    4|Afghanistan|1950|   1950.5|    14|         14|         1|  88.36|   80.277| 168.637|
|    4|Afghanistan|1950|   1950.5|    15|         15|         1| 86.374|   78.007| 164.381|
|    4|Afghanistan|1950|   1950.5|    16|         16|         1| 84.467|    75.96| 160.427|
|    4|Afghanistan|1950|   1950.5|    17|         17|         1| 82.703|   73.906| 156.609|
|    4|Afghanistan|1950|   1950.5|    18|         18|         1| 81.139|   71.804| 152.943|
|    4|Afghanistan|1950|   1950.5|    19|         19|         1| 79.686|   69.686| 149.372|
+-----+-----------+----+---------+------+-----------+----------+-------+---------+--------+
only showing top 20 rows

In [23]:
df.select('Location').distinct().count()

225

In [24]:
df.select('Location').distinct().show()

+--------------------+
|            Location|
+--------------------+
|       Côte d'Ivoire|
|                Chad|
|          Cabo Verde|
|       ECE: UNECE-52|
|ESCAP: ADB Develo...|
|ECLAC: The Caribbean|
|            Djibouti|
|African, Caribbea...|
|             Comoros|
|         Afghanistan|
|Belt-Road Initiat...|
|            Cambodia|
|Commonwealth of I...|
|       African Group|
|Countries with Ac...|
|Countries with Ac...|
|Central European ...|
|              Africa|
|African Union: We...|
|Countries with Ac...|
+--------------------+
only showing top 20 rows

**Exercise**: Repeat the above query, this time ordering the results by Location and using the truncate=False option to display results in full. Show all 440 results.

In [25]:
# ANSWER
df.select('Location').distinct().take(225)

[Row(Location="Côte d'Ivoire"),
 Row(Location='Chad'),
 Row(Location='Cabo Verde'),
 Row(Location='ECE: UNECE-52'),
 Row(Location='ESCAP: ADB Developing member countries (DMCs)'),
 Row(Location='ECLAC: The Caribbean'),
 Row(Location='Djibouti'),
 Row(Location='African, Caribbean and Pacific (ACP) Group of States'),
 Row(Location='Comoros'),
 Row(Location='Afghanistan'),
 Row(Location='Belt-Road Initiative: Latin America and the Caribbean'),
 Row(Location='Cambodia'),
 Row(Location='Commonwealth of Independent States (CIS)'),
 Row(Location='African Group'),
 Row(Location='Countries with Access to the Sea'),
 Row(Location='Countries with Access to the Sea: Asia'),
 Row(Location='Central European Free Trade Agreement (CEFTA)'),
 Row(Location='Africa'),
 Row(Location='African Union: Western Africa'),
 Row(Location='Countries with Access to the Sea: Northern America'),
 Row(Location='Algeria'),
 Row(Location='Countries with Access to the Sea: Oceania'),
 Row(Location='Argentina'),
 Row(Location='Angola'),
 Row(Location='Belgium'),
 Row(Location='Albania'),
 Row(Location='Belt-Road Initiative (BRI)'),
 Row(Location='Commonwealth: Africa'),
 Row(Location='Black Sea Economic Cooperation (BSEC)'),
 Row(Location='ESCAP region: Pacific'),
 Row(Location='Brunei Darussalam'),
 Row(Location="Dem. People's Republic of Korea"),
 Row(Location='Benin'),
 Row(Location='BRICS'),
 Row(Location='Bahamas'),
 Row(Location='China'),
 Row(Location='Countries with Access to the Sea: Africa'),
 Row(Location='Belarus'),
 Row(Location='Central Asia'),
 Row(Location='ESCAP region: North and Central Asia'),
 Row(Location='ECLAC: Latin America'),
 Row(Location='Central America'),
 Row(Location='Chile'),
 Row(Location='Asia-Pacific Group'),
 Row(Location='Bolivia (Plurinational State of)'),
 Row(Location='Croatia'),
 Row(Location='Burundi'),
 Row(Location='African Union: Eastern Africa'),
 Row(Location='Cuba'),
 Row(Location='Association of Southeast Asian Nations (ASEAN)'),
 Row(Location='Commonwealth: Asia'),
 Row(Location='Czechia'),
 Row(Location='African Union: Central Africa'),
 Row(Location='Commonwealth of Nations'),
 Row(Location='Central African Republic'),
 Row(Location='Denmark'),
 Row(Location='Denmark (and dependencies)'),
 Row(Location='Bangladesh'),
 Row(Location='Barbados'),
 Row(Location='Curaçao'),
 Row(Location='Congo'),
 Row(Location='African Union'),
 Row(Location='ESCAP: ADB Group A (Concessional assistance\xa0only)'),
 Row(Location='Bhutan'),
 Row(Location='Democratic Republic of the Congo'),
 Row(Location='Caribbean'),
 Row(Location='Belt-Road Initiative: Asia'),
 Row(Location='African Union: Northern Africa'),
 Row(Location='Channel Islands'),
 Row(Location='ESCAP region: South-East Asia'),
 Row(Location='ESCAP: ASEAN'),
 Row(Location='Andean Community'),
 Row(Location='Countries with Access to the Sea: Latin America and the Caribbean'),
 Row(Location='Cyprus'),
 Row(Location='ESCAP: ADB Group C (Regular OCR only)'),
 Row(Location='Aruba'),
 Row(Location='Commonwealth: Pacific'),
 Row(Location='African Union: Southern Africa'),
 Row(Location='Belt-Road Initiative: Pacific'),
 Row(Location='China, Macao SAR'),
 Row(Location='Belt-Road Initiative: Europe'),
 Row(Location='Azerbaijan'),
 Row(Location='Caribbean Community and Common Market (CARICOM)'),
 Row(Location='Armenia'),
 Row(Location='ESCAP region: South and South-West Asia'),
 Row(Location='Asia-Pacific Economic Cooperation (APEC)'),
 Row(Location='Commonwealth: Europe'),
 Row(Location='Australia/New Zealand'),
 Row(Location='Canada'),
 Row(Location='ESCAP region: East and North-East Asia'),
 Row(Location='ESCAP: ADB Group B\xa0(OCR blend)'),
 Row(Location='Belize'),
 Row(Location='Brazil'),
 Row(Location='China (and dependencies)'),
 Row(Location='BRIC'),
 Row(Location='Antigua and Barbuda'),
 Row(Location='Countries with Access to the Sea: Europe'),
 Row(Location='Dominican Republic'),
 Row(Location='Botswana'),
 Row(Location='China, Taiwan Province of China'),
 Row(Location='Asia'),
 Row(Location='Central and Southern Asia'),
 Row(Location='ESCAP: Central Asia'),
 Row(Location='Commonwealth: Caribbean and Americas'),
 Row(Location='Bosnia and Herzegovina'),
 Row(Location='Belt-Road Initiative: Africa'),
 Row(Location='ECE: North America-2'),
 Row(Location='Australia'),
 Row(Location='Cameroon'),
 Row(Location='Bulgaria'),
 Row(Location='Austria'),
 Row(Location='China, Hong Kong SAR'),
 Row(Location='Costa Rica'),
 Row(Location='Burkina Faso'),
 Row(Location='Bahrain'),
 Row(Location='Colombia'),
 Row(Location='Bolivarian Alliance for the Americas (ALBA)'),
 Row(Location='LLDC: Latin America'),
 Row(Location='ESCAP: income groups'),
 Row(Location='ESCAP: high income'),
 Row(Location='Economic Cooperation Organization (ECO)'),
 Row(Location='Kiribati'),
 Row(Location='Europe and Northern America'),
 Row(Location='Guyana'),
 Row(Location='Eritrea'),
 Row(Location='Land-locked Countries'),
 Row(Location='ESCWA: Arab least developed countries'),
 Row(Location='ESCWA: Maghreb countries'),
 Row(Location='Fiji'),
 Row(Location='ESCAP: low HDI'),
 Row(Location='Iraq'),
 Row(Location='Eastern Europe'),
 Row(Location='Europe'),
 Row(Location='Germany'),
 Row(Location='Group of Twenty (G20) - member states'),
 Row(Location='ESCAP: WB Low income econ.'),
 Row(Location='High-income countries'),
 Row(Location='Jordan'),
 Row(Location='ESCAP: high HDI'),
 Row(Location='ESCAP: upper middle income'),
 Row(Location='France'),
 Row(Location='Group of Eight (G8)'),
 Row(Location='Greece'),
 Row(Location='ESCWA: Mashreq countries'),
 Row(Location='LLDC: Europe'),
 Row(Location='Latin America and the Caribbean'),
 Row(Location='Equatorial Guinea'),
 Row(Location='Ecuador'),
 Row(Location='Finland'),
 Row(Location='Group of 77 (G77)'),
 Row(Location='Ghana'),
 Row(Location='India'),
 Row(Location='Kuwait'),
 Row(Location='ESCAP: low income'),
 Row(Location='ESCWA: Gulf Cooperation Council countries'),
 Row(Location='European Union (EU: 15)'),
 Row(Location='Land-locked Developing Countries (LLDC)'),
 Row(Location='Group of Seven (G7)'),
 Row(Location='Economic Community of West African States (ECOWAS)'),
 Row(Location='Eurasian Economic Community (Eurasec)'),
 Row(Location='East African Community (EAC)'),
 Row(Location='Gabon'),
 Row(Location='Italy'),
 Row(Location='ESCAP: SAARC'),
 Row(Location='Land-locked Countries (Others)'),
 Row(Location='France (and dependencies)'),
 Row(Location='European Community (EC: 12)'),
 Row(Location='Guadeloupe'),
 Row(Location='Europe (48)'),
 Row(Location='ESCAP: upper middle HDI'),
 Row(Location='ESCAP: HDI groups'),
 Row(Location='Economic Community of Central African States (ECCAS)'),
 Row(Location='Ireland'),
 Row(Location='ESCAP: Pacific island dev. econ.'),
 Row(Location='Iceland'),
 Row(Location='Israel'),
 Row(Location='Eastern Africa'),
 Row(Location='European Free Trade Agreement (EFTA)'),
 Row(Location='ESCWA: member countries'),
 Row(Location='French Polynesia'),
 Row(Location='ESCAP: ECO'),
 Row(Location='Estonia'),
 Row(Location='Georgia'),
 Row(Location='Indonesia'),
 Row(Location='ESCAP: Landlocked countries (LLDCs)'),
 Row(Location='ESCAP: WB income groups'),
 Row(Location='Eastern European Group'),
 Row(Location='Guam'),
 Row(Location='Guatemala'),
 Row(Location='Grenada'),
 Row(Location='ESCAP: WB Lower middle income econ.'),
 Row(Location='Honduras'),
 Row(Location='Iran (Islamic Republic of)'),
 Row(Location='ESCAP: other Asia-Pacific countries/areas'),
 Row(Location='LLDC: Asia'),
 Row(Location='French Guiana'),
 Row(Location='European Union (EU: 28)'),
 Row(Location='Ethiopia'),
 Row(Location='Eswatini'),
 Row(Location='Jamaica'),
 Row(Location='Latin American Integration Association (ALADI)'),
 Row(Location='ESCAP: Least Developed Countries (LDCs)'),
 Row(Location='Guinea'),
 Row(Location='Kyrgyzstan'),
 Row(Location='Gambia'),
 Row(Location='Kenya'),
 Row(Location='ESCWA: Arab countries'),
 Row(Location="Lao People's Democratic Republic"),
 Row(Location='Latin American and Caribbean Group (GRULAC)'),
 Row(Location='ESCAP: lower middle income'),
 Row(Location='Japan'),
 Row(Location='Eastern Asia'),
 Row(Location='ESCAP: WB Upper middle income econ.'),
 Row(Location='Greater Arab Free Trade Area (GAFTA)'),
 Row(Location='Haiti'),
 Row(Location='Gulf Cooperation Council (GCC)'),
 Row(Location='Guinea-Bissau'),
 Row(Location='Egypt'),
 Row(Location='El Salvador'),
 Row(Location='Kazakhstan'),
 Row(Location='LLDC: Africa'),
 Row(Location='Hungary'),
 Row(Location='ESCAP: lower middle HDI'),
 Row(Location='ESCAP: WB High income econ.'),
 Row(Location='Eastern and South-Eastern Asia')]

Next run the following to confirm that there are no missing values in this dataset:

In [26]:
df.count() - df.na.drop().count()

1

## Convert types

We saw above that all columns are in the form of strings. The following cell converts some of the columns to type float.

In [38]:
floatcols = ['MidPeriod', 'PopMale', 'PopFemale', 'PopTotal']

for col_name in floatcols:
    df = df.withColumn(col_name, trim(col(col_name)).cast('float'))

**Exercise**: Similarly convert the four columns listed below into **integers**.

In [28]:
intcols = ['Time', 'AgeGrp', 'AgeGrpStart', 'AgeGrpSpan']

#ANSWER
for col_name in intcols:
    df = df.withColumn(col_name, trim(col(col_name)).cast('int'))

In [29]:
df.printSchema()

root
 |-- LocID: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Time: integer (nullable = true)
 |-- MidPeriod: string (nullable = true)
 |-- AgeGrp: integer (nullable = true)
 |-- AgeGrpStart: integer (nullable = true)
 |-- AgeGrpSpan: integer (nullable = true)
 |-- PopMale: string (nullable = true)
 |-- PopFemale: string (nullable = true)
 |-- PopTotal: string (nullable = true)

## Answering some queries about the data

We use filter to select a subset of rows satisfying a True/False condition:

Example: What was the population breakdown by age and gender in Australia in 1970?

In [30]:
df.filter((df.Location == 'Australia') & (df.Time == 1970)).show(101)

+-----+---------+----+---------+------+-----------+----------+-------+---------+--------+
|LocID| Location|Time|MidPeriod|AgeGrp|AgeGrpStart|AgeGrpSpan|PopMale|PopFemale|PopTotal|
+-----+---------+----+---------+------+-----------+----------+-------+---------+--------+
|   36|Australia|1970|   1970.5|     0|          0|         1|126.482|   121.47| 247.952|
|   36|Australia|1970|   1970.5|     1|          1|         1|126.326|  120.997| 247.323|
|   36|Australia|1970|   1970.5|     2|          2|         1|126.439|  120.829| 247.268|
|   36|Australia|1970|   1970.5|     3|          3|         1|126.751|  120.899|  247.65|
|   36|Australia|1970|   1970.5|     4|          4|         1|127.193|   121.14| 248.333|
|   36|Australia|1970|   1970.5|     5|          5|         1|127.698|  121.488| 249.186|
|   36|Australia|1970|   1970.5|     6|          6|         1|128.196|  121.877| 250.073|
|   36|Australia|1970|   1970.5|     7|          7|         1|128.619|  122.239| 250.858|
|   36|Australia|1970|   1970.5|     8|          8|         1|128.899|  122.509| 251.408|
|   36|Australia|1970|   1970.5|     9|          9|         1|128.966|  122.622| 251.588|
|   36|Australia|1970|   1970.5|    10|         10|         1|129.052|  122.767| 251.819|
|   36|Australia|1970|   1970.5|    11|         11|         1|129.387|  123.136| 252.523|
|   36|Australia|1970|   1970.5|    12|         12|         1|128.406|  122.379| 250.785|
|   36|Australia|1970|   1970.5|    13|         13|         1|125.443|  119.917|  245.36|
|   36|Australia|1970|   1970.5|    14|         14|         1|121.327|  116.454| 237.781|
|   36|Australia|1970|   1970.5|    15|         15|         1|117.222|  112.965| 230.187|
|   36|Australia|1970|   1970.5|    16|         16|         1|112.497|  108.889| 221.386|
|   36|Australia|1970|   1970.5|    17|         17|         1|109.894|  106.646|  216.54|
|   36|Australia|1970|   1970.5|    18|         18|         1|110.768|  107.424| 218.192|
|   36|Australia|1970|   1970.5|    19|         19|         1|113.664|  109.919| 223.583|
|   36|Australia|1970|   1970.5|    20|         20|         1|116.046|  111.945| 227.991|
|   36|Australia|1970|   1970.5|    21|         21|         1|118.751|  114.298| 233.049|
|   36|Australia|1970|   1970.5|    22|         22|         1|118.977|  114.131| 233.108|
|   36|Australia|1970|   1970.5|    23|         23|         1|115.181|   109.92| 225.101|
|   36|Australia|1970|   1970.5|    24|         24|         1|108.851|  103.183| 212.034|
|   36|Australia|1970|   1970.5|    25|         25|         1|102.991|   96.906| 199.897|
|   36|Australia|1970|   1970.5|    26|         26|         1| 96.971|   90.427| 187.398|
|   36|Australia|1970|   1970.5|    27|         27|         1| 91.963|   85.208| 177.171|
|   36|Australia|1970|   1970.5|    28|         28|         1| 88.842|   82.256| 171.098|
|   36|Australia|1970|   1970.5|    29|         29|         1| 86.981|   80.812| 167.793|
|   36|Australia|1970|   1970.5|    30|         30|         1|  84.94|   79.156| 164.096|
|   36|Australia|1970|   1970.5|    31|         31|         1|  83.08|   77.693| 160.773|
|   36|Australia|1970|   1970.5|    32|         32|         1| 81.239|   76.211|  157.45|
|   36|Australia|1970|   1970.5|    33|         33|         1| 79.216|   74.454|  153.67|
|   36|Australia|1970|   1970.5|    34|         34|         1| 77.248|   72.675| 149.923|
|   36|Australia|1970|   1970.5|    35|         35|         1| 75.568|    71.23| 146.798|
|   36|Australia|1970|   1970.5|    36|         36|         1| 73.886|   69.864|  143.75|
|   36|Australia|1970|   1970.5|    37|         37|         1| 73.504|   69.541| 143.045|
|   36|Australia|1970|   1970.5|    38|         38|         1| 75.015|   70.719| 145.734|
|   36|Australia|1970|   1970.5|    39|         39|         1| 77.685|   72.837| 150.522|
|   36|Australia|1970|   1970.5|    40|         40|         1| 80.182|   74.839| 155.021|
|   36|Australia|1970|   1970.5|    41|         41|         1| 82.768|   76.896| 159.664|
|   36|Australia|1970|   1970.5|    42|         42|         1|   84.5|   78.458| 162.958|
|   36|Australia|1970|   1970.5|    43|         43|         1| 84.772|   79.131| 163.903|
|   36|Australia|1970|   1970.5|    44|         44|         1| 83.983|    79.12| 163.103|
|   36|Australia|1970|   1970.5|    45|         45|         1| 83.316|   79.179| 162.495|
|   36|Australia|1970|   1970.5|    46|         46|         1| 82.748|   79.343| 162.091|
|   36|Australia|1970|   1970.5|    47|         47|         1| 81.175|   78.508| 159.683|
|   36|Australia|1970|   1970.5|    48|         48|         1| 78.236|   76.259| 154.495|
|   36|Australia|1970|   1970.5|    49|         49|         1| 74.466|   73.133| 147.599|
|   36|Australia|1970|   1970.5|    50|         50|         1| 70.618|   69.971| 140.589|
|   36|Australia|1970|   1970.5|    51|         51|         1| 66.365|   66.476| 132.841|
|   36|Australia|1970|   1970.5|    52|         52|         1| 63.326|   63.924|  127.25|
|   36|Australia|1970|   1970.5|    53|         53|         1| 62.328|   62.994| 125.322|
|   36|Australia|1970|   1970.5|    54|         54|         1| 62.574|   63.055| 125.629|
|   36|Australia|1970|   1970.5|    55|         55|         1| 62.511|   62.831| 125.342|
|   36|Australia|1970|   1970.5|    56|         56|         1| 62.535|   62.619| 125.154|
|   36|Australia|1970|   1970.5|    57|         57|         1| 61.738|   61.869| 123.607|
|   36|Australia|1970|   1970.5|    58|         58|         1| 59.542|   60.193| 119.735|
|   36|Australia|1970|   1970.5|    59|         59|         1| 56.449|   57.908| 114.357|
|   36|Australia|1970|   1970.5|    60|         60|         1| 53.531|   55.761| 109.292|
|   36|Australia|1970|   1970.5|    61|         61|         1| 50.563|    53.66| 104.223|
|   36|Australia|1970|   1970.5|    62|         62|         1| 47.792|   51.436|  99.228|
|   36|Australia|1970|   1970.5|    63|         63|         1| 45.445|   49.098|  94.543|
|   36|Australia|1970|   1970.5|    64|         64|         1| 43.355|   46.717|  90.072|
|   36|Australia|1970|   1970.5|    65|         65|         1| 41.155|   44.299|  85.454|
|   36|Australia|1970|   1970.5|    66|         66|         1| 38.953|   41.777|   80.73|
|   36|Australia|1970|   1970.5|    67|         67|         1| 36.628|    39.69|  76.318|
|   36|Australia|1970|   1970.5|    68|         68|         1| 34.094|   38.289|  72.383|
|   36|Australia|1970|   1970.5|    69|         69|         1| 31.455|   37.315|   68.77|
|   36|Australia|1970|   1970.5|    70|         70|         1| 28.897|   36.272|  65.169|
|   36|Australia|1970|   1970.5|    71|         71|         1| 26.373|   35.274|  61.647|
|   36|Australia|1970|   1970.5|    72|         72|         1|  24.05|   34.036|  58.086|
|   36|Australia|1970|   1970.5|    73|         73|         1| 22.023|   32.371|  54.394|
|   36|Australia|1970|   1970.5|    74|         74|         1| 20.218|   30.423|  50.641|
|   36|Australia|1970|   1970.5|    75|         75|         1| 18.454|   28.547|  47.001|
|   36|Australia|1970|   1970.5|    76|         76|         1| 16.759|   26.705|  43.464|
|   36|Australia|1970|   1970.5|    77|         77|         1| 15.165|   24.763|  39.928|
|   36|Australia|1970|   1970.5|    78|         78|         1| 13.668|     22.7|  36.368|
|   36|Australia|1970|   1970.5|    79|         79|         1| 12.258|   20.575|  32.833|
|   36|Australia|1970|   1970.5|    80|         80|         1| 10.944|   18.471|  29.415|
|   36|Australia|1970|   1970.5|    81|         81|         1|  9.738|   16.379|  26.117|
|   36|Australia|1970|   1970.5|    82|         82|         1|  8.539|   14.413|  22.952|
|   36|Australia|1970|   1970.5|    83|         83|         1|  7.304|   12.641|  19.945|
|   36|Australia|1970|   1970.5|    84|         84|         1|  6.081|   11.026|  17.107|
|   36|Australia|1970|   1970.5|    85|         85|         1|  4.955|    9.468|  14.423|
|   36|Australia|1970|   1970.5|    86|         86|         1|  3.899|    7.989|  11.888|
|   36|Australia|1970|   1970.5|    87|         87|         1|  3.008|    6.637|   9.645|
|   36|Australia|1970|   1970.5|    88|         88|         1|  2.335|    5.428|   7.763|
|   36|Australia|1970|   1970.5|    89|         89|         1|  1.829|    4.354|   6.183|
|   36|Australia|1970|   1970.5|    90|         90|         1|  1.306|    3.227|   4.533|
|   36|Australia|1970|   1970.5|    91|         91|         1|  0.938|     2.38|   3.318|
|   36|Australia|1970|   1970.5|    92|         92|         1|  0.752|    1.943|   2.695|
|   36|Australia|1970|   1970.5|    93|         93|         1|  0.541|    1.432|   1.973|
|   36|Australia|1970|   1970.5|    94|         94|         1|  0.307|    0.845|   1.152|
|   36|Australia|1970|   1970.5|    95|         95|         1|  0.177|    0.514|   0.691|
|   36|Australia|1970|   1970.5|    96|         96|         1|  0.146|    0.427|   0.573|
|   36|Australia|1970|   1970.5|    97|         97|         1|  0.112|    0.332|   0.444|
|   36|Australia|1970|   1970.5|    98|         98|         1|  0.076|    0.227|   0.303|
|   36|Australia|1970|   1970.5|    99|         99|         1|  0.036|    0.112|   0.148|
|   36|Australia|1970|   1970.5|   100|        100|        -1|  0.042|    0.142|   0.184|
+-----+---------+----+---------+------+-----------+----------+-------+---------+--------+

The select function can select a subset of columns.

**Exercise**: What was the population of 45-year-old females in India in 1960?

In [35]:
# ANSWER
df.filter((df.Location == 'India') & (df.Time == 1960) & (df.AgeGrp== 45)).show(101)

+-----+--------+----+---------+------+-----------+----------+--------+---------+--------+
|LocID|Location|Time|MidPeriod|AgeGrp|AgeGrpStart|AgeGrpSpan| PopMale|PopFemale|PopTotal|
+-----+--------+----+---------+------+-----------+----------+--------+---------+--------+
|  356|   India|1960|   1960.5|    45|         45|         1|2210.417| 1987.196|4197.613|
+-----+--------+----+---------+------+-----------+----------+--------+---------+--------+

**Exercise**: Write a filter query to show the distinct locations starting with

1.   List item

1.   List item
2.   List item


2.   List item

'UN'.

In [36]:
#ANSWER
df.filter(col('Location').startswith('UN')).show()

+-----+--------+----+---------+------+-----------+----------+-------+---------+--------+
|LocID|Location|Time|MidPeriod|AgeGrp|AgeGrpStart|AgeGrpSpan|PopMale|PopFemale|PopTotal|
+-----+--------+----+---------+------+-----------+----------+-------+---------+--------+
+-----+--------+----+---------+------+-----------+----------+-------+---------+--------+

Another example: what is the population of each location in 1950 and 2019?

In [39]:
populations_in_1950 = df.filter(df.Time == 1950)\
                    .groupBy('Location')\
                    .sum('PopTotal')\
                    .withColumnRenamed('sum(PopTotal)', 'Population_1950')\
                    .withColumn('Population_1950', round('Population_1950', 3))\
                    .orderBy(col('Population_1950').desc())
populations_in_1950.show()

+--------------------+---------------+
|            Location|Population_1950|
+--------------------+---------------+
|Countries with Ac...|    2384540.117|
|Group of Twenty (...|    1731945.275|
|   Group of 77 (G77)|    1618241.347|
|ESCAP: income groups|    1490837.911|
|   ESCAP: HDI groups|    1490837.911|
|ESCAP: WB income ...|    1490818.181|
|                Asia|    1404908.989|
|  Asia-Pacific Group|    1397562.214|
|Countries with Ac...|     1364302.65|
|ESCAP: ADB Develo...|    1223407.377|
|Asia-Pacific Econ...|    1136577.758|
|               BRICS|    1101146.274|
|              Europe|    1098657.721|
|                BRIC|    1087517.847|
|Belt-Road Initiat...|     934148.834|
|Eastern and South...|     842669.337|
|       ECE: UNECE-52|     770020.389|
|ESCAP: WB Upper m...|     737341.529|
|Europe and Northe...|      721931.47|
|ESCAP: ADB Group ...|     718170.833|
+--------------------+---------------+
only showing top 20 rows

In [40]:
populations_in_2019 = df.filter(df.Time == 2019)\
                    .groupBy('Location')\
                    .sum('PopTotal')\
                    .withColumnRenamed('sum(PopTotal)', 'Population_2019')\
                    .withColumn('Population_2019', round('Population_2019', 3))\
                    .orderBy(col('Population_2019').desc())

In [41]:
populations_in_1950.join(populations_in_2019, 'Location').orderBy('Location').show()

+--------------------+---------------+---------------+
|            Location|Population_1950|Population_2019|
+--------------------+---------------+---------------+
|         Afghanistan|       7752.117|      38041.757|
|              Africa|     227794.137|    1308064.174|
|       African Group|     227511.873|    1306320.571|
|       African Union|     227525.637|    1306903.022|
|African Union: Ce...|      24214.661|     154013.705|
|African Union: Ea...|      55336.034|     382531.218|
|African Union: No...|      43705.252|     203493.227|
|African Union: So...|      34051.198|     179956.492|
|African Union: We...|       70218.49|     386908.388|
|African, Caribbea...|     199979.667|    1150190.577|
|             Albania|       1263.164|       2880.913|
|             Algeria|        8872.25|      43053.054|
|    Andean Community|      26311.024|     111736.664|
|              Angola|       4548.021|      31825.299|
| Antigua and Barbuda|         45.515|         97.115|
|           Argentina|       17037.91|      44780.675|
|             Armenia|       1353.502|       2957.728|
|               Aruba|         38.052|         106.31|
|                Asia|    1404908.989|    4601371.264|
|Asia-Pacific Econ...|    1136577.758|    2956245.284|
+--------------------+---------------+---------------+
only showing top 20 rows

**Exercise**: Which locations had the largest percentage change in population from 1950 to 2019?

In [ ]:
# ANSWER
pop_percentage = populations_in_1950`

**Bonus Exercise**: In 2019 which locations have the highest percentage of seniors (age 80+) relative to their total population?

(Hint: if you find Japan, Greece and Italy amongst them you are right!)

In [ ]:
# ANSWER

## Population line plot

In this section, we use a query to perform a data visualisation with matplotlib. We shall plot population vs year for three countries.

In [ ]:
df_3countries = df[df.Location.isin("Australia", "New Zealand", "Singapore")]\
                  .select('Location', 'MidPeriod', 'PopTotal') \
                  .groupBy('Location', 'MidPeriod')\
                  .sum('PopTotal')\
                  .withColumnRenamed('sum(PopTotal)', 'Population')\
                  .withColumn('Population', round('Population', 3))
df_3countries.show()

In [ ]:
dataforplotting = df_3countries.toPandas()

Now that this dataset is of a manageable size, we convert it to a Pandas dataframe for plotting.

In [ ]:
dataforplotting.info()

In [ ]:
dataforplotting.pivot_table(index=['MidPeriod'], columns='Location', values='Population')

In [ ]:
ax = dataforplotting.pivot_table(index=['MidPeriod'], columns='Location', values='Population').plot()
ax.set_xlabel('Year');
ax.set_ylabel('Population in thousands');

**Bonus Exercise**: Plot the world population of children (age 0-17) along with those of the age groups 18-39 and 40+ from 1950 to 2019. You should display three lines (one for the population of each age group vs year) on the same plot. Note that 'World' is one of the locations.

Hint: one approach is to create a new column 'AgeCategory' based on AgeGrpStart using the 'when' function.

In [ ]:
# ANSWER

In [ ]:
agegrp_df = world_data.toPandas()

In [ ]:
ax = agegrp_df.pivot_table(index=['MidPeriod'], columns='AgeCategory', values='Population').plot()
ax.set_xlabel('Year');
ax.set_ylabel('Population in thousands');

## Population Pyramid

In this section we show how a population pyramid may be created. We look at China in the year 1980.

In [ ]:
china_1980 = df.filter((df.Location == 'China (and dependencies)') & (df.Time == 1980)).toPandas()

In [ ]:
china_1980

In [ ]:
china_1980.describe()

Create age brackets in multiples of 5 - such as 0-4, 5-9, ...

In [ ]:
lower = china_1980['AgeGrpStart'] - (china_1980['AgeGrpStart'] % 5)

In [ ]:
agebrackets = [f'{x:02d}-{(x+4):02d}' for x in lower.values]
agebrackets[-1] = '100+'

In [ ]:
agebrackets[:10]

In [ ]:
china_1980['AgeRange'] = agebrackets

Next find the populations by age range.

In [ ]:
agg_china_1980 = (china_1980.groupby(['AgeRange']).sum()[['PopMale', 'PopFemale']]/1000).reset_index()

In [ ]:
rev_age = list(dict.fromkeys(agebrackets[::-1])) #reversed list of ages

In [ ]:
agg_china_1980['NegPopMale'] = -agg_china_1980['PopMale']

We are now ready to plot the population pyramid:

In [ ]:
sns.set(rc={'figure.figsize':(12,8)})
bar_plot = sns.barplot(x='NegPopMale', y='AgeRange', data=agg_china_1980, order = rev_age, color='red')
bar_plot = sns.barplot(x='PopFemale', y='AgeRange', data=agg_china_1980, order = rev_age, color='green')

labels = ["80", "60", "40", "20", "0", "20", "40", "60", "80"]
bar_plot.set_xticklabels(labels)

h = [bar_plot.bar(x=.1, height=.1, color = c) for c in ['red', 'green']] #used to set colour of bar in legend
bar_plot.legend(handles = h, labels=['Male', 'Female'], fontsize=20)

bar_plot.axes.set_title("Population Pyramid for China (1980)", fontsize=20);
bar_plot.set_xlabel("Population (millions)", fontsize=20);
bar_plot.set_ylabel("Age Group", fontsize=20);
bar_plot.set_xticklabels(bar_plot.get_xticklabels(), size = 15);
bar_plot.set_yticklabels(bar_plot.get_yticklabels(), size = 15);

## Prediction
Finally we use Spark's MLlib library in a linear regression problem. We shall predict the proportion of population to be of a particular age, given year.

Inputs:
- year
- age

Target variable:
- proportion of a country's population to be of that age, in that year

In [ ]:
pop_by_loc_and_year = df.groupBy('Location', 'Time')\
                        .sum('PopTotal')\
                        .withColumnRenamed('sum(PopTotal)', 'Location_year_pop')

In [ ]:
pop_by_loc_and_year.show()

In [ ]:
trainingset = df.join(pop_by_loc_and_year, ['Location', 'Time'])\
  .withColumn('Proportion',
              df.PopTotal/pop_by_loc_and_year.Location_year_pop)\
  .select('Time', 'AgeGrpStart', 'Proportion')

**Exercise**: Use the stat.corr function to find the correlation between AgeGrpStart and Proportion.

In [ ]:
# ANSWER

Next we create a simple linear regression model predict Ratio from Time and AgeGrpStart.

In [ ]:
from pyspark.ml.regression import LinearRegression

MLlib takes input in vector form. Hence we need to create vectors from features.

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['Time', 'AgeGrpStart'],
                                 outputCol='Features')

In [ ]:
final_data_for_regression = featureassembler.transform(trainingset).select('Features', 'Proportion')
final_data_for_regression.show()

In [ ]:
train, test = final_data_for_regression.randomSplit([0.9,0.1])

In [ ]:
train

Next we cache these dataframes into memory:

In [ ]:
train = train.cache()

In [ ]:
test = test.cache()

We are ready to train the model. This may take a minute or so due to the size of training set.

In [ ]:
regressor = LinearRegression(featuresCol='Features', labelCol='Proportion')
regressor = regressor.fit(train)

In [ ]:
regressor.coefficients

In [ ]:
regressor.intercept

In [ ]:
predicted_results = regressor.evaluate(test)

Here we can compare some predicted proportions with actual proportions:

In [ ]:
predicted_results.predictions.show()

**Exercise**: Find R-squared and the mean squared error using the 'r2' and 'meanSquaredError' attributes.

In [ ]:
# ANSWER

## Conclusion

We have seen how to use Pyspark to make queries on a large dataset, save smaller datasets into Pandas dataframe for plotting and how to use MLlib for machine learning on a large dataset.



---



---



> > > > > > > > > © 2024 Institute of Data


---



---