<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**Installation instructions for Windows users:**

[Install MongoDB Community Edition on Windows](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-windows/)

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [5]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/anaconda3/envs/IOD/lib/python3.12/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/anaconda3/envs/IOD/lib/python3.12/site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.8.0

**Start the mongod server (if it isn't already running):**

Windows:
1. Using Command Prompt navigate to the folder containing `mongod.exe` (e.g. by typing cd "C:\Program Files\MongoDB\Server\7.0\bin").
2.  Execute `mongod` at the prompt.

Mac:
1. Run `brew services start mongodb-community@7.0`

In [4]:
# Creating a client object in our local machines

client = MongoClient('localhost', 27017)

In [8]:
from pymongo import MongoClient

# Create a client object to connect to a local MongoDB server
client = MongoClient('localhost', 27017)

# Test the connection by listifrom pymongo import MongoClient

# Create a client object to connect to a local MongoDB server
client = MongoClient('localhost', 27017)

# Test the connection by listing all databases
databases = client.list_database_names()
print("Databases on the server:", databases)
databases = client.list_database_names()
print("Databases on the server:", databases)

Databases on the server: ['admin', 'config', 'local']
Databases on the server: ['admin', 'config', 'local']

In [10]:
print(client.list_database_names())

['admin', 'config', 'local']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [14]:
db = client.test

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [16]:
print(client.list_database_names())

['admin', 'config', 'local']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [20]:
#ANSWER
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('mongodb://localhost:27017/')

# Create or access a database (e.g., 'mydatabase')
db = client['mydatabase']

# Create or access the 'shoppers' collection
mycol = db['shoppers']

# Verify the collection creation (prints the names of all collections in the database)
print("Collections in 'mydatabase':", db.list_collection_names())

Collections in 'mydatabase': []

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [22]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('mongodb://localhost:27017/')

# Create or access a database (e.g., 'mydatabase')
db = client['mydatabase']

# Create or access the 'shoppers' collection
mycol = db['shoppers']

# Create a document (dictionary)
document = {
    "name": "Paul",
    "address": "Mansfield Ave"
}

# Insert the document into the 'shoppers' collection
result = mycol.insert_one(document)

# Print the inserted document ID to confirm insertion
print("Document inserted with ID:", result.inserted_id)

Document inserted with ID: 66b14dce424866c935a648eb

Now test for the existence of the database:

In [24]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('mongodb://localhost:27017/')

# List all databases
databases = client.list_database_names()

# Check if 'mydatabase' exists
database_name = 'mydatabase'
if database_name in databases:
    print(f"Database '{database_name}' exists.")
else:
    print(f"Database '{database_name}' does not exist.")

Database 'mydatabase' exists.

List all collections in the database:

In [26]:
#ANSWER
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your database name)
db = client['mydatabase']

# List all collections in the database
collections = db.list_collection_names()

# Print the list of collections
print("Collections in 'mydatabase':", collections)

Collections in 'mydatabase': ['shoppers']

Insert another record in the "shoppers" collection
("name" = "Rafa", "address" = "Holder Drive")
and return the value of the _id field:

In [28]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your database name)
db = client['mydatabase']

# Access the 'shoppers' collection
mycol = db['shoppers']

# Create the new document (record) to be inserted
new_document = {
    "name": "Rafa",
    "address": "Holder Drive"
}

# Insert the document into the 'shoppers' collection
result = mycol.insert_one(new_document)

# Print the inserted document ID
print("Inserted document ID:", result.inserted_id)

Inserted document ID: 66b14e0b424866c935a648ef

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [ ]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]

In [56]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# List of documents to insert
mylist = [
    { "name": "Ashton", "address": "Axle St"},
    { "name": "Benjamin", "address": "Green Dr"},
    { "name": "Sally", "address": "Holly Blvd"},
    { "name": "Helen", "address": "Castor Prom"},
    { "name": "Craig", "address": "Parsons Way"},
    { "name": "Betty", "address": "Watters St"},
    { "name": "Aparna", "address": "Yonder Dr"},
    { "name": "Kent", "address": "Garrison St"},
    { "name": "Violet", "address": "Station St"},
    { "name": "Svetlana", "address": "Wayman Ave"}
]

# Insert multiple documents into the 'shoppers' collection
result = mycol.insert_many(mylist)

# Print the IDs of the inserted documents
print("Inserted document IDs:", result.inserted_ids)

Inserted document IDs: [ObjectId('66b14f7b424866c935a6490f'), ObjectId('66b14f7b424866c935a64910'), ObjectId('66b14f7b424866c935a64911'), ObjectId('66b14f7b424866c935a64912'), ObjectId('66b14f7b424866c935a64913'), ObjectId('66b14f7b424866c935a64914'), ObjectId('66b14f7b424866c935a64915'), ObjectId('66b14f7b424866c935a64916'), ObjectId('66b14f7b424866c935a64917'), ObjectId('66b14f7b424866c935a64918')]

Print a list of the _id values of the inserted documents:

In [58]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# List of documents to insert
mylist = [
    { "name": "Ashton", "address": "Axle St"},
    { "name": "Benjamin", "address": "Green Dr"},
    { "name": "Sally", "address": "Holly Blvd"},
    { "name": "Helen", "address": "Castor Prom"},
    { "name": "Craig", "address": "Parsons Way"},
    { "name": "Betty", "address": "Watters St"},
    { "name": "Aparna", "address": "Yonder Dr"},
    { "name": "Kent", "address": "Garrison St"},
    { "name": "Violet", "address": "Station St"},
    { "name": "Svetlana", "address": "Wayman Ave"}
]

# Insert multiple documents into the 'shoppers' collection
result = mycol.insert_many(mylist)

# Print the list of inserted document IDs
print("Inserted document IDs:")
for doc_id in result.inserted_ids:
    print(doc_id)

Inserted document IDs:
66b14f7d424866c935a6491a
66b14f7d424866c935a6491b
66b14f7d424866c935a6491c
66b14f7d424866c935a6491d
66b14f7d424866c935a6491e
66b14f7d424866c935a6491f
66b14f7d424866c935a64920
66b14f7d424866c935a64921
66b14f7d424866c935a64922
66b14f7d424866c935a64923

Execute the next cell to insert a list of dicts with specified `_id`s:

In [62]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# List of documents to insert with specified _id values
documents_with_ids = [
    {"_id": 13, "name": "John", "address": "Elm Street"},
    {"_id": 14, "name": "Alice", "address": "Maple Avenue"},
    {"_id": 15, "name": "Bob", "address": "Oak Drive"},
    {"_id": 16, "name": "Carol", "address": "Pine Lane"},
    {"_id": 17, "name": "Dave", "address": "Cedar Road"}
]

# Insert multiple documents into the 'shoppers' collection
result = mycol.insert_many(documents_with_ids)

# Print the IDs of the inserted documents
print("Inserted document IDs:", result.inserted_ids)

Inserted document IDs: [13, 14, 15, 16, 17]

In [64]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# List of documents to insert with specified _id values
documents_with_ids = [
    {"_id": 1, "name": "Alice", "address": "123 Elm Street"},
    {"_id": 2, "name": "Bob", "address": "456 Oak Avenue"},
    {"_id": 3, "name": "Charlie", "address": "789 Pine Road"},
    {"_id": 4, "name": "David", "address": "101 Maple Lane"},
    {"_id": 5, "name": "Eve", "address": "202 Birch Blvd"}
]


# Print the IDs of the inserted documents
print("Inserted document IDs:", result.inserted_ids)

Inserted document IDs: [13, 14, 15, 16, 17]

In [48]:
mylist = [
  { "_id": 1, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 2, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 3, "name": "Ashton", "address": "Axle St"},
  { "_id": 4, "name": "Benjamin", "address": "Green Dr"},
  { "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  { "_id": 6, "name": "Helen", "address": "Castor Prom"},
  { "_id": 7, "name": "Craig", "address": "Parsons Way"},
  { "_id": 8, "name": "Betty", "address": "Watters St"},
  { "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  { "_id": 10, "name": "Kent", "address": "Garrison St"},
  { "_id": 11, "name": "Violet", "address": "Station St"},
  { "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: mydatabase.shoppers index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Now try inserting a new dict with an existing `_id`:

In [66]:
# Warning -- This code will return an error as id no: 12 is already exists
x = mycol.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})

In [73]:
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Attempt to insert a document with an existing _id
try:
    x = mycol.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})
    print("Document inserted with _id:", x.inserted_id)
except DuplicateKeyError as e:
    print("Error:", e)

Error: E11000 duplicate key error collection: mydatabase.shoppers index: _id_ dup key: { _id: 12 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: mydatabase.shoppers index: _id_ dup key: { _id: 12 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 12}}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [ ]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('666652a9ffcba2928f7fd55d'), 'name': 'Paul', 'address': 'Mansfield Ave'}

In [75]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Retrieve the first document from the collection
first_document = mycol.find_one()

# Print the first document
print("First document in the collection:", first_document)

First document in the collection: {'_id': ObjectId('66b14dce424866c935a648eb'), 'name': 'Paul', 'address': 'Mansfield Ave'}

Do the same for the document containing "name" = "Ashton":

In [77]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Retrieve the document where name is "Ashton"
query = {"name": "Ashton"}
ashton_document = mycol.find_one(query)

# Print the retrieved document
print("Document with name 'Ashton':", ashton_document)

Document with name 'Ashton': {'_id': ObjectId('66b14e74424866c935a648f1'), 'name': 'Ashton', 'address': 'Axle St'}

This returns (and prints) all documents in the collection:

In [ ]:
for x in mycol.find():
    print(x)

In [79]:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Retrieve and print all documents in the collection
for document in mycol.find():
    print(document)

{'_id': ObjectId('66b14dce424866c935a648eb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66b14e0b424866c935a648ef'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66b14e74424866c935a648f1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e74424866c935a648f2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e74424866c935a648f3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e74424866c935a648f4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14e74424866c935a648f5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14e74424866c935a648f6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e74424866c935a648f7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e74424866c935a648f8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14e74424866c935a648f9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e74424866c935a648fa'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e8e424866c935a648fc'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e8e424866c935a648fd'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e8e424866c935a648fe'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e8e424866c935a648ff'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14e8e424866c935a64900'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14e8e424866c935a64901'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e8e424866c935a64902'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e8e424866c935a64903'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14e8e424866c935a64904'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e8e424866c935a64905'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Alice', 'address': '123 Elm Street'}
{'_id': 2, 'name': 'Bob', 'address': '456 Oak Avenue'}
{'_id': 3, 'name': 'Charlie', 'address': '789 Pine Road'}
{'_id': 4, 'name': 'David', 'address': '101 Maple Lane'}
{'_id': 5, 'name': 'Eve', 'address': '202 Birch Blvd'}
{'_id': ObjectId('66b14f7b424866c935a6490f'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7b424866c935a64910'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7b424866c935a64911'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7b424866c935a64912'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7b424866c935a64913'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7b424866c935a64914'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7b424866c935a64915'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7b424866c935a64916'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7b424866c935a64917'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7b424866c935a64918'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7d424866c935a6491a'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7d424866c935a6491b'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7d424866c935a6491c'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7d424866c935a6491d'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7d424866c935a6491e'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7d424866c935a6491f'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7d424866c935a64920'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7d424866c935a64921'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7d424866c935a64922'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7d424866c935a64923'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 13, 'name': 'John', 'address': 'Elm Street'}
{'_id': 14, 'name': 'Alice', 'address': 'Maple Avenue'}
{'_id': 15, 'name': 'Bob', 'address': 'Oak Drive'}
{'_id': 16, 'name': 'Carol', 'address': 'Pine Lane'}
{'_id': 17, 'name': 'Dave', 'address': 'Cedar Road'}
{'_id': 12, 'name': 'Lola', 'address': 'Prospect Dr'}

This returns only the name and address fields:

In [87]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Alice', 'address': '123 Elm Street'}
{'name': 'Bob', 'address': '456 Oak Avenue'}
{'name': 'Charlie', 'address': '789 Pine Road'}
{'name': 'David', 'address': '101 Maple Lane'}
{'name': 'Eve', 'address': '202 Birch Blvd'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'John', 'address': 'Elm Street'}
{'name': 'Alice', 'address': 'Maple Avenue'}
{'name': 'Bob', 'address': 'Oak Drive'}
{'name': 'Carol', 'address': 'Pine Lane'}
{'name': 'Dave', 'address': 'Cedar Road'}
{'name': 'Lola', 'address': 'Prospect Dr'}

In [83]:
#ANSWER
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Retrieve and print specific fields from all documents in the collection
for x in mycol.find({}, { "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Alice', 'address': '123 Elm Street'}
{'name': 'Bob', 'address': '456 Oak Avenue'}
{'name': 'Charlie', 'address': '789 Pine Road'}
{'name': 'David', 'address': '101 Maple Lane'}
{'name': 'Eve', 'address': '202 Birch Blvd'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'John', 'address': 'Elm Street'}
{'name': 'Alice', 'address': 'Maple Avenue'}
{'name': 'Bob', 'address': 'Oak Drive'}
{'name': 'Carol', 'address': 'Pine Lane'}
{'name': 'Dave', 'address': 'Cedar Road'}
{'name': 'Lola', 'address': 'Prospect Dr'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [89]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('66b14e74424866c935a648f6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e74424866c935a648f7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e74424866c935a648f9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e74424866c935a648fa'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e8e424866c935a64901'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e8e424866c935a64902'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e8e424866c935a64904'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e8e424866c935a64905'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7b424866c935a64914'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7b424866c935a64915'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7b424866c935a64917'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7b424866c935a64918'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7d424866c935a6491f'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7d424866c935a64920'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7d424866c935a64922'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7d424866c935a64923'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [91]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to find documents with address starting with "W"
query = {"address": {"$regex": "^W"}}

# Retrieve and print matching documents
for x in mycol.find(query, { "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [93]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to find all documents, sorted by the 'name' field in ascending order
query = {}
sort_order = [("name", 1)]  # 1 for ascending order

# Retrieve and print sorted documents
for x in mycol.find(query).sort(sort_order):
    print(x)

{'_id': 1, 'name': 'Alice', 'address': '123 Elm Street'}
{'_id': 14, 'name': 'Alice', 'address': 'Maple Avenue'}
{'_id': ObjectId('66b14e74424866c935a648f7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e8e424866c935a64902'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7b424866c935a64915'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7d424866c935a64920'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e74424866c935a648f1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e8e424866c935a648fc'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7b424866c935a6490f'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7d424866c935a6491a'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e74424866c935a648f2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e8e424866c935a648fd'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7b424866c935a64910'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7d424866c935a6491b'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e74424866c935a648f6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e8e424866c935a64901'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7b424866c935a64914'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7d424866c935a6491f'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 2, 'name': 'Bob', 'address': '456 Oak Avenue'}
{'_id': 15, 'name': 'Bob', 'address': 'Oak Drive'}
{'_id': 16, 'name': 'Carol', 'address': 'Pine Lane'}
{'_id': 3, 'name': 'Charlie', 'address': '789 Pine Road'}
{'_id': ObjectId('66b14e74424866c935a648f5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14e8e424866c935a64900'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7b424866c935a64913'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7d424866c935a6491e'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 17, 'name': 'Dave', 'address': 'Cedar Road'}
{'_id': 4, 'name': 'David', 'address': '101 Maple Lane'}
{'_id': 5, 'name': 'Eve', 'address': '202 Birch Blvd'}
{'_id': ObjectId('66b14e74424866c935a648f4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14e8e424866c935a648ff'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7b424866c935a64912'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7d424866c935a6491d'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 13, 'name': 'John', 'address': 'Elm Street'}
{'_id': ObjectId('66b14e74424866c935a648f8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14e8e424866c935a64903'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7b424866c935a64916'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7d424866c935a64921'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 12, 'name': 'Lola', 'address': 'Prospect Dr'}
{'_id': ObjectId('66b14dce424866c935a648eb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66b14e0b424866c935a648ef'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66b14e74424866c935a648f3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e8e424866c935a648fe'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7b424866c935a64911'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7d424866c935a6491c'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e74424866c935a648fa'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e8e424866c935a64905'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7b424866c935a64918'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7d424866c935a64923'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e74424866c935a648f9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e8e424866c935a64904'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7b424866c935a64917'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7d424866c935a64922'), 'name': 'Violet', 'address': 'Station St'}

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [95]:
#ANSWER
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to find all documents, sorted by the 'name' field in descending order
query = {}
sort_order = [("name", -1)]  # -1 for descending order

# Retrieve and print sorted documents
for x in mycol.find(query).sort(sort_order):
    print(x)

{'_id': ObjectId('66b14e74424866c935a648f9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e8e424866c935a64904'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7b424866c935a64917'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14f7d424866c935a64922'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b14e74424866c935a648fa'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e8e424866c935a64905'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7b424866c935a64918'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14f7d424866c935a64923'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b14e74424866c935a648f3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e8e424866c935a648fe'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7b424866c935a64911'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14f7d424866c935a6491c'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b14e0b424866c935a648ef'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66b14dce424866c935a648eb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 12, 'name': 'Lola', 'address': 'Prospect Dr'}
{'_id': ObjectId('66b14e74424866c935a648f8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14e8e424866c935a64903'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7b424866c935a64916'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b14f7d424866c935a64921'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 13, 'name': 'John', 'address': 'Elm Street'}
{'_id': ObjectId('66b14e74424866c935a648f4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14e8e424866c935a648ff'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7b424866c935a64912'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b14f7d424866c935a6491d'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 5, 'name': 'Eve', 'address': '202 Birch Blvd'}
{'_id': 4, 'name': 'David', 'address': '101 Maple Lane'}
{'_id': 17, 'name': 'Dave', 'address': 'Cedar Road'}
{'_id': ObjectId('66b14e74424866c935a648f5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14e8e424866c935a64900'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7b424866c935a64913'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b14f7d424866c935a6491e'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 3, 'name': 'Charlie', 'address': '789 Pine Road'}
{'_id': 16, 'name': 'Carol', 'address': 'Pine Lane'}
{'_id': 2, 'name': 'Bob', 'address': '456 Oak Avenue'}
{'_id': 15, 'name': 'Bob', 'address': 'Oak Drive'}
{'_id': ObjectId('66b14e74424866c935a648f6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e8e424866c935a64901'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7b424866c935a64914'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14f7d424866c935a6491f'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b14e74424866c935a648f2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e8e424866c935a648fd'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7b424866c935a64910'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14f7d424866c935a6491b'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e74424866c935a648f1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e8e424866c935a648fc'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7b424866c935a6490f'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14f7d424866c935a6491a'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e74424866c935a648f7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14e8e424866c935a64902'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7b424866c935a64915'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b14f7d424866c935a64920'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 1, 'name': 'Alice', 'address': '123 Elm Street'}
{'_id': 14, 'name': 'Alice', 'address': 'Maple Avenue'}

A single record can be deleted by specifying some criterion:

In [97]:
mycol.delete_one({ "address": "Castor Prom" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Now delete all docs with the 2-digit `Id` values:

In [99]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to match documents with 2-digit _id values (from 10 to 99)
query = {"_id": {"$gte": 10, "$lte": 99}}

# Delete matching documents
result = mycol.delete_many(query)

# Print the number of documents deleted
print(f"Number of documents deleted: {result.deleted_count}")

Number of documents deleted: 6

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [101]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to find the first document where address is "Garrison St"
query = {"address": "Garrison St"}

# Update operation to change address to "Somers Ave"
update = {"$set": {"address": "Somers Ave"}}

# Perform the update
result = mycol.update_one(query, update)

# Print the result of the update
print(f"Matched count: {result.matched_count}")
print(f"Modified count: {result.modified_count}")

Matched count: 1
Modified count: 1

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [103]:
#ANSWER:
from pymongo import MongoClient

# Connect to MongoDB server (default host and port)
client = MongoClient('localhost', 27017)

# Access the database (replace 'mydatabase' with your actual database name)
db = client['mydatabase']

# Access the collection (replace 'shoppers' with your actual collection name)
mycol = db['shoppers']

# Query to find all documents
query = {}

# Retrieve and print the first 5 documents
for doc in mycol.find(query).limit(5):
    print(doc)

{'_id': ObjectId('66b14dce424866c935a648eb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66b14e0b424866c935a648ef'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66b14e74424866c935a648f1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b14e74424866c935a648f2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b14e74424866c935a648f3'), 'name': 'Sally', 'address': 'Holly Blvd'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [105]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [115]:
#client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [117]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('66b153ddeb1472124cacdcd7'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('66b153ddeb1472124cacdc94'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('66b153ddeb1472124cacdcbf'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [119]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [121]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,66b153ddeb1472124cacdc91,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,66b153ddeb1472124cacdcd3,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,66b153ddeb1472124cacdcda,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,66b153ddeb1472124cacdce7,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [123]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [125]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.14.0

In [ ]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



>
>
>



---



---



> > > > > > > > >  2024 Institute of Data


---



---